services:
  data_insight_agent:
    container_name: data_insight_agent
    build: .
    depends_on:
      - ollama
    ports:
      - 8000:8000
    env_file:
      - .env
    volumes:
      - ./:/app
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    ports:
      - 11434:11434
    volumes:
      - ollama_data:/root/.ollama
    environment:
      - OLLAMA_HOST=0.0.0.0
    entrypoint: >
      sh -c "ollama serve & sleep 5 && ollama pull qwen2.5:7b && wait"

volumes:
  ollama_data:



  